{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to invoke the execution of the decision service operation CompleteInvoice.",
    "version" : "1.0.0",
    "title" : "CompleteInvoice API"
  },
  "host" : "brsv2-3ed79a06.eu-gb.bluemix.net",
  "basePath" : "/DecisionService/rest",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/CompleteInvoiceRuleApp/1.0/CompleteInvoice/1.0" : {
      "post" : {
        "summary" : "Invokes the execution of the decision service operation CompleteInvoice.",
        "description" : "Executes the decision service operation CompleteInvoice with the path /CompleteInvoiceRuleApp/1.0/CompleteInvoice/1.0.",
        "operationId" : "callDecisionServiceOperation",
        "parameters" : [ {
          "in" : "body",
          "name" : "Request",
          "description" : "Request for the execution of the decision service operation. Contains notably the input parameters that are used for the execution.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Request"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Response for the execution of the decision service operation. Contains notably the output parameters that are returned by the execution.",
            "schema" : {
              "$ref" : "#/definitions/Response"
            }
          },
          "default" : {
            "description" : "Error occurring when invoking the execution of the decision service operation.",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "Response" : {
      "type" : "object",
      "properties" : {
        "__DecisionID__" : {
          "type" : "string",
          "description" : "Unique identifier representing the execution of the decision service operation. If it is not specified, it will be computed automatically."
        },
        "Result" : {
          "$ref" : "#/definitions/Result"
        }
      },
      "description" : "Response for the execution of the decision service operation. Contains notably the output parameters that are returned by the execution."
    },
    "Order" : {
      "type" : "object",
      "properties" : {
        "category" : {
          "type" : "string",
          "enum" : [ "Grocery", "Books", "Newspapers", "Clothing", "Health", "Computers" ]
        },
        "quantity" : {
          "type" : "number",
          "format" : "double"
        },
        "rate" : {
          "type" : "number",
          "format" : "double"
        }
      }
    },
    "Request" : {
      "type" : "object",
      "properties" : {
        "__DecisionID__" : {
          "type" : "string",
          "description" : "Unique identifier representing the execution of the decision service operation. If it is not specified, it will be computed automatically."
        },
        "Order" : {
          "$ref" : "#/definitions/Order"
        }
      },
      "description" : "Request for the execution of the decision service operation. Contains notably the input parameters that are used for the execution."
    },
    "Error" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "HTTP error code."
        },
        "message" : {
          "type" : "string",
          "description" : "Error message."
        }
      },
      "description" : "Error occurring when invoking the execution of the decision service operation."
    },
    "Result" : {
      "type" : "object",
      "properties" : {
        "vat" : {
          "type" : "string",
          "enum" : [ "VAT20", "VAT10", "VAT55", "VAT21" ]
        },
        "rate" : {
          "type" : "number",
          "format" : "double"
        }
      }
    }
  }
}