@import "variables";

.form-container {
  float: left;
  width: calc(50% - 40px);
  margin-bottom: 10px;
  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: inherit;
    color: inherit;
    font-size: 20px;
    font-weight: 700;
  }
  .form-header {
    display: flex;
    h1 {
      flex-grow: 1;
    }
    button[type="submit"] {
      line-height: 1;
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 0;
      font-size: 14px;
      font-weight: 500;
      i.fa {
        margin-left: 10px;
        font-size: 14px;
      }
    }
  }
  .form-footer {
    margin-top: 5px;
    font-size: 12px;
    color: #aaa;
  }
  .form-body {
    border: 1px solid #aaa;
  }
  form {
    padding: 20px;
    & > .form-group.field-object .form-group.field-object {
      padding: 10px;
      border: 1px solid #dddddd;
      border-radius: 10px;
      &:hover {
        border: 1px solid darken(#dddddd, 20%);
      }
    }
    .form-grid {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-gap: 10px;
      padding-right: 10px;
      .field {
        grid-column-start: span 2;
      }
    }
    .field-depth-0, .field-depth-1, .field-depth-2, .field-depth-3 {
      & > fieldset > .form-grid {
        & > .field-integer, & > .field-number, & > .field-string, & > .field-boolean {
          grid-column-start: span 1;
        }
      }
    }
    .field-array {
      .array-item {
        width: 100%;
      }
    }
  }
  &#output {
    [type="submit"] {
      display: none;
    }
  }
  &#input {
    margin-right: 20px;
    margin-left: 20px;
  }
  &#output {
    margin-left: 20px;
    margin-right: 20px;
    .form-body {
      background-color: #f3f3f3;
      .decision-error {
        padding: 0 20px 20px;
      }
      .array-item .col-xs-9 {
        width: 100%;
      }
      .array-item-toolbox {
        display: none;
      }
      .array-item-add {
        display: none;
      }
    }
  }
}

@media (max-width: 1024px) {
  .form-container {
    form {
      .form-grid {
        .field-integer, .field-number, .field-string, .field-boolean {
          grid-column-start: span 2;
        }
      }
    }
  }
}

#home {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  padding: 20px;
  a {
    color: #337ab7;
    text-decoration: none;
  }
  a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
  }
  a:active, a:hover {
    outline: 0;
  }
  table {
    border-collapse: collapse;
    border: 1px solid black;
    thead {
      td {
        font-size: 16px;
        font-weight: bold;
        background-color: #eeeeee;
      }
    }
    td {
      border: 1px solid black;
      padding: 3px 10px;
    }
  }
}