@import "variables";

.odm-decision-forms {
  .form-group.field-object {
    //    margin: 10px !important;
    //    padding-right: 10px !important;
    //    border: 1px solid red !important;
  }
  /*
  fieldset {
    border: 1px solid red;
  }
  .form-group {
    .form-group {
      .form-group {
        .form-group {
          margin-left: 20px;
        }
      }
    }
  }
  */
}

.form-container {
  float: left;
  width: calc(50% - 40px);
  margin-bottom: 10px;
  h1 {
    font-size: 28px;
  }
  form {
    border: 1px solid #7f7f7f;
    border-radius: 10px;
    padding: 20px;
    button[type="submit"] {
      i.fa {
        margin-right: 10px;
        font-size: 18px;
      }
    }
    .form-grid {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-gap: 10px;
      padding-right: 10px;
      .field {
        grid-column-start: span 2;
      }
      .field-integer, .field-number, .field-string, .field-boolean {
        grid-column-start: span 1;
        //float: left;
        //min-width: calc(50% - 10px);
        //margin-right: 10px;
        //          grid-column-start: span 1;
      }
      &.field-string, &.field-boolean, &.field-array, &.field-object {
        //          grid-column-start: span 2;
        //clear: both;
        //min-width: 100%;
      }
    }
  }
  &#output {
    [type="submit"] {
      display: none;
    }
  }
  &#input {
    margin-right: 20px;
    margin-left: 20px;
    form {
      & > .form-group {
        border-bottom: 1px solid #aaa;
      }
    }
  }
  &#output {
    margin-left: 20px;
    margin-right: 20px;
    form {
      background-color: #f3f3f3;
      .array-item .col-xs-9 {
        width: 100%;
      }
      .array-item-toolbox {
        display: none;
      }
      .array-item-add {
        display: none;
      }
    }
  }
}

#home {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  padding: 20px;
  a {
    color: #337ab7;
    text-decoration: none;
  }
  a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
  }
  a:active, a:hover {
    outline: 0;
  }
  table {
    border-collapse: collapse;
    border: 1px solid black;
    thead {
      td {
        font-size: 16px;
        font-weight: bold;
        background-color: #eeeeee;
      }
    }
    td {
      border: 1px solid black;
      padding: 3px 10px;
    }
  }
}