@import "variables";

html {
//  background-color: $colorDefaultBackground;
}

body {
  font-family: $fontMain;
//  color: $colorFontAlmostWhite;
  font-size: 15px;
}

a {
  color: $colorAnotherDark;
}

a:active {
  outline: none
}

a.blue {
  color: $colorPastelBlue;
  text-decoration: underline
}

a.blue:hover {
  text-decoration: none
}

a.white {
  color: #e0e0e0;
  text-decoration: none
}

a.white:hover {
  color: white;
}

small {
  font-size: 12px
}

hr {
  border: none;
  height: 1px;
  margin: 20px 0;
  background-color: $colorFontLightGray
}

#output button[type="submit"] {
  display: none;
}

fieldset {
  border: 1px solid #aaa;
}

button[type="submit"], .btn {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  *zoom: 1;
  *display: inline;
  padding: 10px 25px;
  background-color: #fff;
  font-size: 13px;
  border: 1px solid #bbb;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  &:active {
    background-color: #f4f4f4;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
  }
  outline: none;
  &:hover {
    opacity: 0.9;
  }
  color: white;
  background-color: $colorPastelBlue;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
}

form button[type="submit"], .btn {
  margin-top: 15px;
  margin-bottom: 15px;
  i.fa {
    margin-right: 10px;
    font-size: 18px;
  }
}
